<div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" >
  <div class="example-box" cdkDrag > {{movie}}
  <img [src]="src" alt="img" width="300px" height="70px">
  </div>
  <div class="example-box" cdkDrag > {{movie}}
  <img [src]="src2" alt="img" width="300px" height="70px">
  </div>
  <div class="example-box" cdkDrag > {{movie}}
  <img [src]="src3" alt="img" width="300px" height="70px">
  </div>
  <div class="example-box" cdkDrag > {{movie}}
  <img [src]="src4" alt="img" width="300px" height="70px">
  </div>
  <div class="example-box" cdkDrag > {{movie}}
  <img [src]="src5" alt="img" width="300px" height="70px">
  </div>
</div>
