<mat-card class="cart-container">
  <div class="Moneys">
    <div class="cardMoney">
      <div>
        <img id="PonsadToman" src="assets/Ponsad-Toman.jpg" width="200px" height="100px" alt="jj"
             (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)" (drop)=" onDrop($event)"
             style="" data-value="500">
      </div>
      <div>
        <img id="DoToman" src="assets/DoToman.jpg" width="200px" height="100px" alt="jj"
             (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)" (drop)=" onDrop($event)"
             style="" data-value="2000">
      </div>
      <div>
        <img id="PanjToman" src="assets/Panj_toman.jpg" width="200px" height="100px" alt="jj"
             (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)" (drop)=" onDrop($event)"
             style="" data-value="5000">
      </div>
      <div>
        <img id="PanjahToman" src="assets/Panjah_Toman.jpg" width="200px" height="100px" alt="jj"
             (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)" (drop)=" onDrop($event)"
             style="" data-value="50000">
      </div>
      <div>
        <img id="SadToman" src="assets/Sad_Toman.jpg" width="200px" height="100px" alt="jj"
             (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)" (drop)=" onDrop($event)"
             data-value="100000">
      </div>
    </div>
    <div class="showTotal">
      <mat-card>
        <div>Total : {{ totalValue }}</div>
        <button mat-button [matMenuTriggerFor]="menu">Withdrawal</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="Deductamount2000()">2000</button>
          <button mat-menu-item (click)="Deductamount500()">500</button>
          <button mat-menu-item (click)="Deductamount5000()">5000</button>
          <button mat-menu-item (click)="Deductamount50000()">50000</button>
          <button mat-menu-item (click)="Deductamount100000()">100000</button>
        </mat-menu>
      </mat-card>
    </div>
  </div>
</mat-card>

<img id="OpenWallet" class="open-wallet-animation" src="assets/Open-Wallet.webp"
     [style.display]="isOpen ? 'block' : 'none'">

<img id="CloseWallet" src="assets/Close-Wallet.png" width="200px" height="100px" alt="jj"
     (dragstart)="onDragStart($event)" (dragover)="onDragOver($event)" (drop)=" onDrop($event)">
