#OpenWallet{

  width: 400px;
  height: 200px;
  padding-left: 550px;

}
.cart-container
{
  display: inline-block;
  width: auto;
}
#CloseWallet{
    width: 300px;
    height: 250px;
    padding-left: 550px;
}
.open-wallet-animation {
  animation: openWalletAnimation 1.5s ease-out forwards;
  display: none;
}
@keyframes openWalletAnimation {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0);
    opacity: 0;
  }
}

.cardMoney{
  display: flex;
  width: auto;
  padding: 5px;
}
#DoToman,#PanjahToman,#PanjToman,#SadToman,#PonsadToman{
  padding-left: 16px;

}
.cart-container{
  text-align: center;
  display: flex;
  align-items: center;
  align-content: center;
}
